.container {
  margin: 5rem 11rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr { 
  border: solid;
  border-width: 1px 0;
  border-color: rgb(59, 66, 80);
  color: rgb(240, 240, 240);
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h1 {
  color: rgb(240, 240, 240);
  margin-bottom: 3rem;
}

.table-header {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.project-link:hover {
  color: #00bebe;;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 992px) {
  .table-header-tech,
  .tech-stack-column {
    display: none;
  }

  td {
    padding-right: 3rem;
  }

  .container {
    margin: 3rem 1rem;
  }
}

@media (max-width: 768px) {
  table {
    font-size: 0.85rem; 
  }

  h1 {
    font-size: 1.7rem; 
    margin-bottom: 2rem;
  }

  .tech-stack li {
    font-size: 0.75rem; 
  }
}