* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

html, body {
  height: 100%;
}

:root {
  --bg-color-1: #070F2B;
  --bg-color-2: #191844;
  --bg-color-3: #535C91;
  --bg-color-4: #a8a7d4;
  --heading-font: Outfit, Rubik;
  --body-font: Inter, Roboto, Arial;
  --main-font: Arial;
}

body {
  background-color: var(--bg-color-2);
}
