.flex-container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.sidebar {
  height: 100%;
  width: 26rem;  
  position: fixed; 
  /* z-index: 1; */
  top: 0;
  left: 0;   
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2rem;        
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 26rem;     
  padding: 2rem;
  flex: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

.icons-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience-grid,
.education-grid,
.project-grid  {
  display: grid;
  grid-template-columns: 12rem 1fr;
  margin-bottom: 2rem;
  padding: 1rem;
}

.skill-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.dev-wrapper {
  flex: 1;
  padding: 1rem;
}

.tools-wrapper {
  flex: 1;
  padding: 1rem;
}

.dev-list {
  display: grid;
  grid-template-columns: repeat(2, 7rem); 
  row-gap: 1rem; 
  padding-left: 0;
  place-items: left;
}

.dev-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-glow {
  position: fixed;
  inset: 0; /* covers entire page */
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(
    400px at var(--mouse-x) var(--mouse-y),
    rgba(84, 90, 145, 0.123),
    transparent 80%
  );

  transition: background 0.1s ease;
}

@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .experience-grid,
  .education-grid,
  .project-grid  {
    display: flex;
    flex-direction: column;
  }

  .education-time,
  .experience-time {
    margin-bottom: 1rem;
  }

  .skill-flex-wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .dev-list {
    grid-template-columns: repeat(3, 7rem);
  }

  .dev-wrapper h2, .tools-wrapper h2 {
    margin-bottom: 1.5rem;
  }

  .dev-wrapper,
  .tools-wrapper {
    padding: 0;
  }
}
