.flex-container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 26rem;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
}

main {
  flex: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

.icons-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience-grid,
.education-grid,
.project-grid  {
  display: grid;
  grid-template-columns: 12rem 1fr;
  margin-bottom: 2rem;
  padding: 1rem;
}

.skill-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.dev-wrapper {
  flex: 1;
  padding: 1rem;
}

.tools-wrapper {
  flex: 1;
  padding: 1rem;
}

.dev-list {
  display: grid;
  grid-template-columns: repeat(2, 7rem); 
  row-gap: 1rem; 
  padding-left: 0;
  place-items: left;
}

.dev-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-glow {
  position: fixed;
  inset: 0; /* covers entire page */
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(
    400px at var(--mouse-x) var(--mouse-y),
    rgba(84, 90, 145, 0.123),
    transparent 80%
  );

  transition: background 0.1s ease;
}
