main {
  padding: 6rem 5rem;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: 9rem;
  scroll-margin-top: 6rem;
}

#about p {
  color: var(--bg-color-4);
  line-height: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.experience-grid,
.education-grid {
  border: none solid transparent;
  border-radius: 8px;
  transition: var(--bg-color-3) 0.3s ease;
}

.experience-grid:hover,
.education-grid:hover {
  background-color: rgba(100, 255, 218, 0.05); 
}

.experience-grid:hover a {
  color: #00bebe; 
  font-weight: bold;
}

.education-grid:hover a {
  color: #00bebe; 
}

.experience-time p,
.education-time p,
.education-place {
  color: var(--bg-color-4);
  font-size: 0.9rem;
}

.job-title,
.education-title {
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-bottom: 1rem;
}

.job-description {
  color: var(--bg-color-4);
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.skill-flex-wrapper {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(100, 255, 218, 0.05);
  border: none;
}

.dev-wrapper h2,
.tools-wrapper h2 {
  color: rgb(240, 240, 240);
  margin-bottom: 1.8rem;
}

.dev-item {
  width: 6rem;
  height: 6rem;
  border: 2px solid rgba(70, 70, 70, 0.5);
  border-radius: 50%;
  padding: 2rem;
  color: whitesmoke;
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.15s;
  transition: background-color 0.5s;
}

.dev-item:hover {
  background-color: #3b9494d6;
  color: #00bebe;
  border: none;
  font-weight: bold;
}

.tools-list {
  list-style: none;
  padding-left: 0;
  line-height: 2rem;
}

.tools-list span {
  color: whitesmoke;
  transition: color 0.5s;
}

.tools-item {
  cursor: pointer;
}

.tools-item:hover span {
  color: #00bebe;
}









