main {
  padding: 6rem 8rem;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: 5rem;
  scroll-margin-top: 6rem;
}

#about p {
  color: var(--bg-color-4);
  line-height: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.experience-grid,
.education-grid {
  display: grid;
  grid-template-columns: 12rem 1fr;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none solid transparent;
  border-radius: 8px;
  transition: var(--bg-color-3) 0.3s ease;
}

.experience-grid:hover,
.education-grid:hover {
  background-color: rgba(100, 255, 218, 0.05); 
}

.experience-grid:hover a {
  color: #00bebe; 
  font-weight: bold;
}

.education-grid:hover a {
  color: #00bebe; 
}

.experience-time p,
.education-time p,
.education-place {
  color: var(--bg-color-4);
  font-size: 0.9rem;
}

.job-title,
.education-title {
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-bottom: 1rem;
}

.job-description {
  color: var(--bg-color-4);
  line-height: 1.6rem;
  font-size: 0.9rem;
}
