main {
  padding: 0 5rem;
  margin-bottom: 8rem;
}

section {
  /* margin-bottom: 3rem; */
  padding-top: 6rem;
}

#about p {
  color: var(--bg-color-4);
  line-height: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.experience-grid,
.education-grid,
.project-grid {
  border: none solid transparent;
  border-radius: 8px;
  transition: var(--bg-color-3) 0.5s ease;
}

.experience-grid:hover,
.education-grid:hover,
.project-grid:hover {
  background-color: rgba(100, 255, 218, 0.05); 
}

.experience-grid:hover a,
.project-grid:hover a {
  color: #00bebe; 
  font-weight: bold;
}

.education-grid:hover a {
  color: #00bebe; 
}

.experience-time p,
.education-time p,
.education-place {
  color: var(--bg-color-4);
  font-size: 0.9rem;
}

.job-title,
.education-title,
.project-title {
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-bottom: 1rem;
}

.job-description,
.project-description {
  color: var(--bg-color-4);
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.skill-flex-wrapper {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(100, 255, 218, 0.05);
  border: none;
}

.dev-wrapper h2,
.tools-wrapper h2 {
  color: rgb(240, 240, 240);
  margin-bottom: 1.8rem;
}

.dev-item {
  width: 6rem;
  height: 6rem;
  border: 2px solid rgba(70, 70, 70, 0.5);
  border-radius: 50%;
  padding: 2rem;
  color: whitesmoke;
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.15s;
  transition: background-color 0.5s;
}

.dev-item:hover {
  background-color: rgba(62, 92, 89, 0.623);
  color: #00bebe;
  border: none;
  font-weight: bold;
}

.tools-list {
  list-style: none;
  padding-left: 0;
  line-height: 2rem;
}

.tools-list span {
  color: whitesmoke;
  transition: color 0.5s;
}

.tools-item {
  cursor: pointer;
}

.tools-item:hover span {
  color: #00bebe;
}

.project-grid {
  gap: 0.8rem;
}

.project-pic img {
  width: 11rem;
  margin-top: 1.2rem;
  border: 1.7px solid rgb(65, 65, 65);
  border-radius: 3px;
}

.project-grid:hover img {
  border: 2px solid rgb(89, 89, 89);
} 

.tech-stack {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #00bebe;
}

.description {
  padding-bottom: 1rem;
}

.tech-stack li {
  margin-right: 1rem;
  background-color: rgba(62, 92, 89, 0.623);
  padding: 0.4rem 0.5rem;
  border-radius: 35px;
  font-size: 0.8rem;
}

.section-title h2 {
  color: rgba(245, 245, 245, 0.88);
  font-size: 0.99rem;
  margin-bottom: 1.2rem;
}

.all_projects a {
  color: rgb(240, 240, 240);
  font-weight: bold;
  margin-left: 1.3rem;
}

.all_projects a:hover {
  border-bottom: 2px solid #00bebe;
}

@media (max-width: 992px) {
  .section-title {
    display: block;
  }
}


