.sidebar {
  background-color: var(--bg-color-1);
  padding: 5rem 3rem; 
  padding-bottom: 0;
  box-shadow: 5px 0px 20px rgb(6, 6, 38);
}

.sidebar h1,
.sidebar h2,
.sidebar p {
  color: rgb(200, 200, 200);
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.sidebar h1 {
  font-size: 2.59rem;
  white-space: nowrap;
}

.sidebar h2 {
  font-size: 1.5rem;
}

.sidebar p {
  color: rgb(150, 150, 150);
}

.sidebar ul {
  padding: 0;
}

.nav-list {
  list-style: none;
  margin-top: 5rem;
}

.nav-list li {
  width: 100%;
  text-align: right;
}

.nav-list a {
  text-decoration: none;
  color: rgb(150, 150, 150);
  transition: color 0.15s;
  transition: font-weight 0.5s;
}

.nav-list a span {
  position: relative;
  display: block;
  background-color: rgb(150, 150, 150);
  height: 2px;
  margin-top: 0.5rem;
  transition: background-color 0.15s ease;
}

.nav-list a span::before {
  content: "";
  position: absolute;
  top: -1.7rem; bottom: -0.2rem; left: 0; right: 0;
  pointer-events: auto; 
}

.nav-list a:hover,
.nav-list a:hover span {
  color: rgb(150, 150, 150);
  font-weight: 800;
}

.nav-list a:active,
.nav-list a:active span {
  color: #00bebe; 
  font-weight: bold;
}

.nav-list a.highlighted span {
  background-color: #00bebe; 
}

.nav-list a.highlighted {
  color: #00bebe; 
  font-weight: bold;
}

.icons-flex {
  list-style: none;
  /* margin-top: 1rem; */
  padding-left: 0;
  margin-bottom: 4rem;
}

.icons-flex li {
  margin-right: 0.8rem;
  cursor: pointer;
}

svg {
  color: white;
  opacity: 0.6;
}

.social-icon {
  position: relative;
}

.social-icon .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
  font-size: 0.8rem;
  bottom: -1.7rem;
  left: 0.7rem;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
} 

.social-icon:hover .tooltip {
  opacity: 1;
}

.top-bar {
  display: none;
}
/* 
@media (min-width: 1024px) {
  .sidebar  {
      position: sticky;
  }
} */

@media (max-width: 992px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-color-2);
    flex-direction: column;
    align-items: flex-start; 
    box-shadow: none;
    padding: 3rem 5rem; 
  }

  main {
    z-index: 1000;
    margin-top: 15rem;
  }

  .icons-flex {
    margin-top: 2rem;
  }

  .sidebar .navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sidebar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  main {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.95rem;
  }

  .sidebar h1 {
    font-size: 2.2rem;
  }

  .sidebar h2 {
    font-size: 1.2rem;
  }
}
